
#speaker-txt {
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.features .code-instructions {
    font-size: 1.2em;
}

section.right {
    padding-top: 2.5em;

}

section.left code {
    margin-bottom: 20px;
}